.div {
  display: flex;
  align-items: center;
}

.button {
  width: 70px;
  margin-left: 10px;

  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border: 0;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: white;
  background-color: aquamarine;
}

.image {
  margin-right: 10px;
}
